html {
    background-color: #f5f5f5;
};

main.app {
    padding-left: 300px;
}
@media only screen and (max-width: 992px) {
    main.app {
        padding-left: 0px;
    }
}

@media only screen and (min-width: 993px) {
    #toast-container {
        top: auto;
        right: auto;
        left: 5%;
        bottom: 7%;
        max-width: 86%;
    }
}
::selection {
    background-color: #66bb6a;
    color: white;
}

@font-face {
    font-family: "Ricty Diminished";
    src: url('/public/fonts/RictyDiminished-Regular.ttf')
}

code, kbd, pre, samp {
    font-family: "Ricty Diminished", monospace;
}

.markdown-body ul li {
    list-style-type: initial !important;
}

.markdown-body ol li {
    list-style-type: decimal !important;
}

.tabs {
    background-color: #f5f5f5;
}

.dropdown-content {
    min-width: max-content;
}

.inblock {
    display: inline-block;
}

.parallax-container {
    height: 60vh;
}

.top-white-section {
    margin: 5em 0
}